<%- include("partials/header"); -%>
    <h1>Profile</h1>
    <p> <%= profileContent %> </p>

    <%  posts.forEach(function(post){ %>

        <h1><%=post.title%></h1>
        <p>
        <%=post.content.substring(0, 100) + " ..."%>
        <a href="/posts/<%=post._id%>">Read More</a>
        </p>
    
    <form class="btn" action="/delete" method="post">
        <button class="btn btn-primary mb-2" type="submit"
        value="<%=post._id %>" name="delbutton">DELETE</button>
    </form>
        <% }) %>

<%- include("partials/footer"); -%>